catkin==0.8.10
catkin-pkg==0.4.24
contourpy==1.2.0
cycler==0.12.1
distro==1.7.0
docutils==0.17.1
empy==3.3.4
fonttools==4.44.3
genmsg==0.5.16
genpy==0.6.16
kiwisolver==1.4.5
matplotlib==3.8.1
numpy==1.26.2
olefile==0.46
packaging==23.2
Pillow==9.0.1
pycryptodomex==3.11.0
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-gnupg==0.4.8
PyYAML==5.4.1
roman==3.3
rosbag==1.15.14
rosgraph==1.15.14
roslib==1.15.8
roslz4==1.15.14
rospkg==1.3.0
rospy==1.15.14
six==1.16.0